* {
    font-family: 'merriweather', serif;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

body {
    margin: 0px;
}

.top {
    min-height: 35vh;
    width: 100%;
    margin: 0px;
    background-image: url(back.jpg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}




.add_container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 20px 5px;
    border-radius: 4px;
    box-shadow: initial;
    margin: 1rem;
  }