* {
    font-family: 'merriweather', serif;
}

h1 {
    display: flex;
    justify-content: center;
}

body {
    background-color:rgb(255, 255, 255);
}

p {
    color: orange;
}

input, form, .add{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 20px 5px;
    border-radius: 4px;
    box-shadow: initial;
    margin: 1rem;
  }